/* NOTE THIS FILE IS NOT BEING PULLED INTO THEME STYLING - USAGE IS BASED ON MIRRORING WHAT IS IN THE WYSIWIG CHILD THEM CSS ENTRY BLOCK */
/* THIS FILE IS FOR DEV EASE ONLY - COPY CONTENTS TO THEME WP-ADMIN > ENFOLD > GENERAL STYLING > QUICK CSS */

@media only screen and (min-width: 768px) {
  /* Add your Desktop Styles here */

  	/* header logo & menu */

  	#header_main .logo {
  		padding: 20px 0 0 0;
  	}

	/* home  page */

	.home__topBar-gPin {
	    position: relative;
	    display: inline-block;
	    color: white;
	    float: right;
	    right: 5.5em;
	    font-size: 1.2em;
	    top: 4px;
	}

	.home__hero-container {
		position:relative;
		display:block;
		width:120%;
		left:-10%;
	}

	.home__hero {
	    position: relative;
	    display: inline-block;
	    min-width: 100%;
	    background-color: #253442;
	    padding: 3em;
	    color: white;
	    text-align: center;	
	}

	.home__hero-inner {
	    position: relative;
	    display: inline-block;
	}

	.home__hero-gPin {
	    position: relative;
	    display: inline-block;
	    background-color: #253442;
	    color: white;
	    text-align: center;
	    font-size: 1.3rem;
	    line-height: 2em;
	    height:1.3em;
	}

	.home__hero .av_font_icon {
	    position: absolute;
	    color: #ffffff;
	    border-color: #ffffff;
	    font-size: 1.5em;
	    margin: 0;
	    top: -0.2em;	
	}

	.home__hero-title {
		position: relative;
		display:inline-block;
		font-size:2em;
		min-width:10em;
	}

	.home__hero-blurb {
	    text-align: center;
	    margin: 1em 0 0 0;	
	}

	.home__hero-button {
	    position: relative;
	    display: inline-block;
	    min-width: 100%;
	    text-align: center;
	    margin: 1em 0 0 0;
	}

	.home__career-rightRow1 {
		position:relative;
		display:inline-block;
		float:left;
		margin: 0 1em 0 0;
	}

	.home__career-rightRow2 {
		position:relative;
		display: inline-block;
		width:70%;
	}

	/* home coverage page */

	 .homecover__highlights-title {
	 	position:relative;
	 	background-color:orange;
	 	font-weight:bold;
	 	color:white;
	 }

	 .homecover__highlights-list {
	 	width: 120%;
	 	margin-left:-10%;
	 }

	 .homecover__highlights-list p {
	    position: relative;
	    padding: 1em 0;
	    border: solid #ccc;
	    border-width: 0 1px 1px 1px;
	    margin: 0;
	 }

	.home-coverage__title {
	    position: relative;
	    display: block;
	    margin: 0.7em 0 0.5em 0;
	    font-size: 1.5em;
	}

	.home-coverage__blurb {
	    position: relative;
	    display: block;
	    width: 60%;
	    left: 20%;
	    margin-bottom: 1.3em;
	    font-size:1em;
	}

	/* Find A Broker */

	.home-coverage__footer-hero {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    min-height: 8rem;
	    background-color: #0c153c;
	    text-align: center;
	    margin-top:1em;
	    color:white;
		padding: 1em 0;
	}

	.home-coverage__footer-container {
	    position: relative;
	    display: inline-block;
	    width: 120%;
	    left: -10%;
	}

	.fab__brokerFinder {
		position:relative;
		display:block;
		width:100%;
		margin:auto;
	}

	.avia-caption-content  {
	    max-width: 54%;
	    position: relative;
	    display: block;
	    margin: auto;
	}

	/* Claims Page */

	.claims__logo-container {
		position:relative;
		display:block;
		width: 100%;
		text-align: center;
	}

	.claims__logo-l {
		position:relative;
		display: inline-block;
		margin:0;
	}

	.claims__logo-r {
		position:relative;
		display: inline-block;
		margin:0;
	}

	.claims__separator-h {
		position:relative;
		display:inline-block;
		margin: 0 1em 0 0;
		top:-10px;
	}

	/* Main menu bottom indicator bar */

	span .avia-menu-fx {
		width:80%;
		left:10%;
	}

	a .avia-menu-fx {
		background-color: #fdd500 !important;
	}

	#avia-menu .sub-menu {
		border-top-color: #fdd500 !important;
	}

	/* Gravity Forms */

	.gform_wrapper .gsection .gfield_label, .gform_wrapper h2.gsection_title, .gform_wrapper h3.gform_title {
		font-size:2em !important;
		font-family: 'Open Sans', 'HelveticaNeue', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
	}

	.gform__lastPage-container {
		position:relative;
		display:block;
	}

	.gform__lastPage-btn {
	    position: absolute;
	    display: none;
	    width: 50%;
	    top: -2em;
	    left: 25%;
	    border-radius: 5px;
	    padding: 8px 15px 5px;
	    background-color: #FDBB00;
	    text-align: center;
	    color: white;
	}
}

/*
Mobile Styles
================================================== */
/* Note: Add new css to the media query below that you want to only effect the Mobile and Tablet Portrait view */

@media only screen and (max-width: 767px) {
  /* Add your Mobile Styles here */

	.home__topBar-gPin {
	    position: relative;
	    display: inline-block;
	    color: white;
	    float: right;
	    right: 5.5em;
	    font-size: 1.2em;
	    top: 4px;
	}

  	.home__title-row {  		
	    display: inline-block;
	    min-width: 100%;
	    text-align: center;
  	}

	.home__hero-gPin {
    position: relative;
    display: inline-block;
    color: white;
    text-align: center;
    font-size: 2em;
    line-height: inherit;
    padding-left: 0em;
    min-height: 0em;
    min-width: 0.7em;	
	}
	.home__hero-blurb {
		text-align: center;
		margin: 1em 0 0 0;
	}

	.home__hero-title {
		position: relative;
		display: inline-block;
		font-size:2em;
    	min-width: 9em;
	}

	.home__top-hero {
		position: relative;
		display: block;
		width:100%;
		padding:0;
		margin:0;
		text-align: center;
		background-image: url('/wp-content/uploads/2016/01/Screen-Shot-2016-02-01-at-5.20.07-PM.png');
	}

	.home__top-hero-bg {
		position: relative;
		display: block;
		width:80%;
		padding:0;
		margin:auto;
	}

	.home__top-hero-copy {
		position: relative;
		display: block;
		width:100%;
		padding:0;
		margin:0;
	}

	/* home coverage page */

	.home-coverage__footer-hero {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    min-height: 8rem;
	    background-color: #000013;
	    text-align: center;
	    margin-top:1em;
	    color:white;
	}

	.home-coverage__title {
	    position: relative;
	    display: block;
	    margin: 0.7em 0 0.5em 0;
	    font-size: 1.5em;
	}

	.home-coverage__blurb {
	    position: relative;
	    display: block;
	    width: 60%;
	    left: 20%;
	    margin-bottom: 0.5em;
	    font-size:1em;
	}

	.avia-caption-content  {
	    max-width: 100%;
	    position: relative;
	    display: block;
	    margin: auto;
	}
}

/* single blog post styling */

.entry-content-header h1 {
text-align:left !important;
}