<!-- NOTE THIS FILE IS NOT BEING PULLED INTO THEME STYLING

THIS FILE IS FOR DEV EASE ONLY - COPY CONTENTS TO THEME WP-ADMIN > PAGES > HOME > 'BROKER LOCATOR' HERO SECTION -->


<div class="home__hero" style="position: relative; display: inline-block; min-width: 100%; background-color: #253442; padding: 3em; color: white;">
	<div class="home__hero-inner">

		<div class="home__title-row">
			<div class="home__hero-gPin">[av_font_icon icon='ue842' font='entypo-fontello' style='' caption='' link='' linktarget='' size='0.9em' position='left' color='#ffffff'][/av_font_icon]
			</div>

			<div class="home__hero-title">BROKER LOCATOR
			</div>
		</div>

		<div class="home__hero-blurb" style="text-align: center;">We have over 300 broker locations throughout British columbia. Find a location nearest to you.
		</div>

		<div class="home__hero-button" style="position: relative; display: inline-block; min-width: 100%; text-align: center;">
		[av_button label='FIND A BROKER' link='manually,/find-a-broker' link_target='' size='small' position='center' icon_select='no' icon='ue800' font='entypo-fontello' color='light' custom_bg='#444444' custom_font='#ffffff']
		</div>
	</div>
</div>