<!-- NOTE THIS FILE IS NOT BEING PULLED INTO THEME STYLING

THIS FILE IS FOR DEV EASE ONLY - COPY CONTENTS TO THEME WP-ADMIN > PAGES > HOME > 'CAREERS' SECTION ON RIGHT -->

<!-- COL 1 -->
<div class="home__career-rightRow1">
	<img class="wp-image-104 alignleft" src="http://fis.dev/wp-content/uploads/2016/01/Screen-Shot-2016-01-28-at-2.51.27-PM.png" alt="Screen Shot 2016-01-28 at 2.51.27 PM" width="49" height="47" />
</div>
<div class="home__career-rightRow2">
	<h5 style="text-align: left;">ABOUT DEMUTUALIZATION</h5>
	<p style="text-align: left;"></p>
	<p style="text-align: left;">Lorem ipsum dolor sit amet, consecttetur adipiscing eit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consecttetur adipiscing eit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua.</p>
</div>

<!-- COL 2 * DO NOT PASTE BOTH INTO ONE TEXT BOX VIA WISIWIG THEME EDITOR -->
<div class="home__career-rightRow1">
	<img class="wp-image-104 alignleft" src="http://fis.dev/wp-content/uploads/2016/01/Screen-Shot-2016-01-28-at-2.51.27-PM.png" alt="Screen Shot 2016-01-28 at 2.51.27 PM" width="49" height="47" />
</div>
<div class="home__career-rightRow2">
	<h5 style="text-align: left;">ABOUT DEMUTUALIZATION</h5>
	<p style="text-align: left;"></p>
	<p style="text-align: left;">Lorem ipsum dolor sit amet, consecttetur adipiscing eit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua. Lorem ipsum dolor sit amet, consecttetur adipiscing eit, sed do eiusmod tempor indididunt ut labore et dolore magna aliqua.</p>
</div>